@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat:400,600');
*{box-sizing:border-box}
body {
  background: url(background.png);
  margin: 0;
}
.top {
  padding: 10px 0;
  background: #f0e6e6;
  text-align: center;
  box-shadow: 4px 0 3px rgba(0,0,0,.3);
  transition: 0.8s linear;
}
a {
  text-decoration: none;
  outline: none;
}
.top a {
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1px;
  color: #383535;
  display: inline-block;
  font-weight: bold;
}
container {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
}
header {text-align: center;}
h1 {
  font-size: 3em;
  font-family: Cambria, Georgia, serif;
  text-shadow: 1px 1px 2px #f0e6e6;
  color: #a84016;
  font-weight: 300;
  transition: color 0.8s;
}
h1 span {font-weight: 500}
p {
  font-size: 1.2em;
  font-family: Cambria, Georgia, serif;
  color: #7a2300;
  transition: 0.8s linear;
}
nav {margin-top: 80px}
nav a {
  font-family: 'Comfortaa', cursive;
  font-size: 0.8em;
  font-weight: bold;
  color: #383535;
  text-shadow: 1px 1px 2px #f0e6e6;
  display: inline-block;
  margin-right: 10px;
  padding-bottom:5px;
  border-bottom:1px solid rgba(255,255,255,0);
  transition: 0.8s linear;
}
nav a:last-child {margin-right:0;}
.current, nav a:hover {border-color: inherit;}
.button-container {
  text-align: center;
  margin-top: 10px;
}
.button-container a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 180px;
  margin: 10px 20px;
  padding: 20px 30px;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;overflow:hidden;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing:2px;
  color: #b8182d;
  background: #f0e6e6;
  transition: color 0.8s, background 0.8s;
}
.button-container a:hover {
  animation: stripes-move 0.75s infinite linear;
  background:linear-gradient(45deg, #ffdbe7 25%, #a84016 25%, #a84016 50%, #ffdbe7 50%, #ffdbe7 75%, #a84016 75%, #a84016);
  background-size: 10px 10px;
  transition: color 0.8s, background 0.8s;
  color: #4f2391;
}
@keyframes stripes-move {
  from { background-position: 0 0; }
  to { background-position: 50px 0; }
}
